/* ----------GENERAL-------------------  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif, "Agbalumo", "Griffy";
  font-weight: 400;
  line-height: 1;
  color: #0d2949;
}

/* ------Header------ */
header h1 {
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  margin-top: 1.2rem;
}

h1 {
  font-weight: 700;
  font-size: 6rem;
  letter-spacing: 4px;
}

h3 {
  font-family: "Agbalumo";
  font-weight: 500;
  color: #ffffff;
  font-size: 4rem;
}

/* -----Body------- */

.container {
  background-color: #dbe4ff;
  max-width: 100%;
  height: 80vh;
  margin: 4rem auto;
  padding: 3.2rem 3.2rem;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 3rem;
  background-color: #edeef0;
  padding-left: 2rem;
  margin-bottom: 4.8rem;
}

.input-field {
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 10px;
}

input::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: #0d2949;
  font-family: "Griffy";
  font-size: 1.4rem;
}

.search-logo {
  padding: 1.6rem 5rem;

  background-color: #ced4da;
  cursor: pointer;
  border-radius: 4rem;
}
.search-logo:hover {
  background-color: #adb5bd;
}

/* -----Body-Weather-Condition--------- */
.weather-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  margin-bottom: 12rem;
}

.weather-details span {
  font-weight: 500;
  font-size: 2.2rem;
}
.weather-details p {
  font-weight: 700;
  font-size: 3rem;
}

p {
  font-weight: 400;
  font-size: 2.4rem;
}

.new-flex {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main-img img {
  max-width: 100%;
  height: auto;
  width: 20rem;
  max-height: 20rem;
}

.new-flex-2 {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.humidity {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.humidity img {
  margin-right: 1rem;
}

.p-humidity {
  font-weight: 700;
  font-size: 2.6rem;
}

.wind {
  display: flex;
  align-items: center;
  gap: 10px;
}

.p-wind {
  font-weight: 700;
  font-size: 2.6rem;
}

.p-wind2 {
  margin-left: 1rem;
}

.wind img {
  margin-right: 1rem;
}

/* ----Footer----------- */

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 3.2rem;
  gap: 10rem;
}

/* ------Loader------- */

.loader {
  font-weight: 700;
  font-size: 3.6rem;
  letter-spacing: 4px;
  color: #0d2949;
  text-align: center;
}

/* -------Error------ */

.errorMessageContainer {
  margin: 8rem auto;
  padding: 3.2rem 3.2rem;
}

.error {
  text-align: center;
  color: black;
  font-size: 2.8rem;
}

/* ---------------RESPONSİVE DESİGN_________________________ */

@media (max-width: 40em) {
  .new-flex {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  header h1 {
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
  }

  h1 {
    font-weight: 700;
    font-size: 2.5rem;
    letter-spacing: 4px;
  }

  h3 {
    font-family: "Agbalumo";
    font-weight: 500;
    color: #ffffff;
    font-size: 2.4rem;
  }

  .search-logo {
    padding: 1rem 2rem;
  }

  input::placeholder {
    font-size: 8px;
  }

  .error {
    font-size: 2rem;
  }

  .weather-details {
    margin-bottom: 1px;
  }

  .container {
    margin: 2rem auto;
    padding: 1.6rem 1.6rem;
    border-radius: 2rem;
  }
  .humidity p {
    font-size: 1.2rem;
    margin-right: 3rem;
  }
  .wind p {
    font-size: 1.2rem;
  }

  .wind img {
    margin-left: 2rem;
  }

  .p-humidity {
    font-weight: 700;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5rem;
    gap: 3rem;
  }

  .humidity {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wind {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-img img {
    max-width: 100%;
    height: auto;
    width: 10rem;
    max-height: 10rem;
  }
}

/*----------------------------*/

@media (min-width: 64.1em) {
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 3.2rem;
    gap: 12rem;
  }

  h1 {
    font-weight: 700;
    font-size: 4rem;
    letter-spacing: 4px;
  }

  h3 {
    font-family: "Agbalumo";
    font-weight: 500;
    color: #ffffff;
    font-size: 2.7rem;
  }

  .container {
    max-width: 40%;
  }

  .humidity {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wind {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-img img {
    max-width: 100%;
    height: auto;
    width: 15rem;
    max-height: 15rem;
  }

  .new-flex {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }
}

.imageContainer {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
